.header {
  width: 100%;
  height: 65px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.header .logo {
  margin-left: 18px;
  font-size: 1.3em;
  font-weight: 600;
  vertical-align: middle;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #333333;
}

.spacer {
  flex-grow: 1;
}

.header .createBtn {
  margin-right: 24px;
  font-weight: 500;
}

a {
  color: inherit;
  background-color: inherit;
}

a:hover {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.black {
  color: black;
  display: inline-block;
}

.table > thead {
  font-weight: bold;
  border-bottom: 2px solid #dee2e6;
}

.article {
  width: 70%;
  margin: 48px auto;
}

.article > .article-body {
  font-size: 1.2em;
}

.article > .article-info {
  display: flex;
  padding: 12px;
  margin: 24px 0;
  border-top: #cccccc solid 1px;
  border-bottom: #cccccc solid 1px;
}

.article > .article-info > p {
  display: inline-block;
  margin: 0;
  line-height: 1;
}